/* Reset some default browser styles */
body, h1, h2, p, input, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    border: 5px solid #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#search-input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #333;
    border-radius: 5px;
}

#search-button {
    padding: 10px 20px;
    background-color: #e60000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-button:hover {
    background-color: #cc0000;
}

#pokemon-details {
    margin-top: 20px;
}

#pokemon-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#pokemon-details p {
    margin-bottom: 5px;
}

#types {
    margin-top: 10px;
    font-weight: bold;
}

#types span {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
}

#sprite-container img {
    max-width: 200px;
    margin-top: 20px;
}
